@page "/payments/zw"

<!--Create a list of payment options and a H1 banner on top-->

<div class="container py-4">

    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-5 fw-bold">Medbase Premium (ZW)</h1>
            <p class="col-md-8 fs-4">
                Use this option if you are in Zimbabwe.
                <br />
                <br />
                If you want to pay using cash, click the button below and inform us through WhatsApp so that necessary arrangements can be made
            </p>
            <MudButton Href="https://wa.me/263785468923"
                       Variant="Variant.Filled"
                       StartIcon="@Icons.Material.Filled.Whatsapp"
                       Color="Color.Primary">
                Talk to us
            </MudButton>
        </div>
        <div class="col-lg-4 offset-lg-1 m-5">
            <img class="img-fluid bg-transparent h-100" src="img/index-illustration.png" style="max-height:400px;">
        </div>
    </div>  
    
    <h2 class="mt-5">
        Remote Payment Options
    </h2>

    <div class="row align-items-md-stretch">
        <div class="col-md-6 rounded-3 border shadow-lg">
            <div class="h-100 p-5 rounded-3">
                <img src="https://magetsi.co.zw/img/EcoCash.svg" class="mb-5" style="max-width:150px" />
                <p>
                    Dial *151*1*1*0785468923*2# to pay using EcoCash.
                    <br/>
                    <br/>
                    When you are done, inform us through WhatsApp with your <strong>Proof of Payment</strong> & <strong>Phone Number</strong>
                </p>
                <MudButton Href="tel:*153*1*1*0785468923*2#"
                           Variant="Variant.Filled"
                           Color="Color.Primary">
                    Pay
                </MudButton>
            </div>
        </div>
        <div class="col-md-6 rounded-3 border shadow-lg">
            <div class="h-100 p-5 rounded-3">
                <img src="https://pbs.twimg.com/media/FsoK5M3WIAAE_lX.jpg" style="max-width:150px" />
                <p>
                    Copy phone number and send using InnBucks
                    <br />
                    <br />
                    <strong>0785468923</strong>
                    <br />
                    <br />
                    When you are done, inform us through WhatsApp with your <strong>Proof of Payment</strong> & <strong>Phone Number</strong>
                </p>
                <MudButton Href="tel:*569#"
                           Variant="Variant.Filled"
                           Color="Color.Primary">
                    Pay
                </MudButton>
            </div>
        </div>
    </div>
</div>

@code {

}
