<MudContainer class="text-center">
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
    <span class="visible">@Message</span>
</MudContainer>
@code {
    [Parameter]
    public string Message { get; set; } = "Loading...";
}
