@page "/payments/int"

<div class="container py-4">
    <div class=" rounded-3 border shadow-lg">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center">
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
                <h1 class="display-5 fw-bold">Medbase Premium (International)</h1>
                <p>
                    Use either of the options below
                </p>
                <!--Button to send us an email-->
                <MudButton Href="mailto:admin@medbase.co.zw"
                           Variant="Variant.Filled"
                           Color="Color.Primary">
                    Talk to us
                </MudButton>
            </div>
            <div class="col-lg-4 offset-lg-1 m-5">
                <img class="img-fluid bg-transparent h-100" src="img/index-illustration.png" style="max-height:400px;">
            </div>
        </div>
        <div class="row align-items-md-stretch">
            <div class="col-md-6 rounded-3">
                <div class="h-100 p-5 rounded-3">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/PayPal.svg/1280px-PayPal.svg.png" class="mb-5" style="max-width:150px" />
                    <p>
                        Integration in progress
                    </p>
                </div>
            </div>
            @* <div class="col-md-6">
                <div class="h-100 p-5 rounded-3">
                    <img src="https://pbs.twimg.com/media/FsoK5M3WIAAE_lX.jpg" style="max-width:150px" />
                    <p>
                        Copy phone number and send using InnBucks
                        <br />
                        <br />
                        <strong>0785468923</strong>
                        <br />
                        <br />
                        When you are done, inform us through WhatsApp with your <strong>Proof of Payment</strong> & <strong>Phone Number</strong>
                    </p>
                    <MudButton Href="tel:*569#"
                               Variant="Variant.Filled"
                               Color="Color.Primary">
                        Pay
                    </MudButton>
                </div>
            </div> *@
        </div>
    </div>
</div>

@code {

}
